.mainConta {
  color: #fff;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}
.btnPrincipal {
  margin: 1em 1em;
  border: none;
  box-shadow: none;
  padding: 10px 20px;
  color: #7b4ae2;
  font-size: large;
  font-weight: 800;
  border-radius: 10px;
  background-color: #0f1120;
  width: auto;
  text-decoration: none;
  transition: all 0.1s;
}
.btnPrincipal:hover {
  cursor: pointer;
  color: #fff;
  transform: scale(1.2);
}
.formEdit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input{
    margin: 0 0.8em;
    background-color: #0f1120;
    box-shadow: none;
    border: none;
    border-radius: 0.5em;
    padding: 0.8em;
    color: #fff;
}
p{
    margin: 0.3em 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
textarea {
    margin: 0 0.8em;
    background-color: #0f1120;
    box-shadow: none;
    border: none;
    border-radius: 0.5em;
    padding: 0.8em;
    color: #fff;
}
.btnCont {
    display: flex;
}