.mainConta {
  color: #fff;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}
.btnPrincipal {
  margin: 1em 1em;
  border: none;
  box-shadow: none;
  padding: 10px 20px;
  color: #7b4ae2;
  font-size: large;
  font-weight: 800;
  border-radius: 10px;
  background-color: #0f1120;
  width: auto;
  text-decoration: none;
  transition: all 0.1s;
}
.btnPrincipal:hover {
  cursor: pointer;
  color: #fff;
  transform: scale(1.2);
}
.desc{
    background-color: #0f1120;
    color: #fff;
    padding: 0.8em;
    border-radius: 0.5em;
    max-width: 25em;
}