.contHTML{
    background-color: #090e16;
    padding: 0;
    margin: 0;
}
.mainConta{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
}
.listaEven{
    color: #fff;
    padding: 1em;
    margin: 1em;
    list-style: none;
    border-radius: 0.5em;
    background-color: #0f1120;
}
.listaEven2{
    color: #fff;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
    list-style: none;
    border-radius: 0.5em;
    background-color: #0f1120;
}
.eventos{
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
}
.btnCrud{
    margin: 0.5em 0.3em;
    width: auto;
    padding: 3px 5px;
    background-color: transparent;
    color: #7b4ae2;
    border: 1px solid #7B4AE2;
    border-radius: 5px;
    text-decoration: none;
}
.btnCrud:hover{
    color: #fff;
}
.btnAgregar{
    padding: 10px 20px;
    color: #7b4ae2;
    font-size: large;
    font-weight: 800;
    border-radius: 10px;
    background-color: #0f1120;
    width: auto;
    text-decoration: none;
    transition: all .1s;
}
.btnAgregar:hover{
    color: #fff;
    transform: scale(1.1);
}