{% extends "base.html" %} <!--Extiendo la base del html (Platilla)-->
{% block content %} <!--Inicia el bloque extendido -->
{% load static %} <!--Carga los estilos estaticos del css-->
<link rel="stylesheet" type="text/css" href="{% static 'css/agregarEvento.css' %}"/>
</head>
<div class="mainConta">
    <h2>Agregar Nuevo Evento</h2>
    <form class="formEdit" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="btnCont">
            <button  class="btnPrincipal" type="submit">✅ Agregar</button>
            <a class="btnPrincipal" href="{% url 'lista_eventos' %}">↩️ Volver</a>
        </div>
    </form>
</div>
{% endblock %} <!--finaliza el bloque extendido -->