<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/agregarEvento.css' %}"
    />
    <title>Agregar</title>
</head>
<body class="mainConta">
    <h2>Agregar Nuevo Evento</h2>
    <form class="formEdit" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="btnCont">
            <button  class="btnPrincipal" type="submit">✅ Agregar</button>
            <a class="btnPrincipal" href="{% url 'lista_eventos' %}">↩️ Volver</a>
        </div>
    </form>
</body>
</html>