{% extends "base.html" %} <!--Extiendo la base del html (Platilla)-->
{% block content %} <!--Inicia el bloque extendido -->
{% load static %} <!--Carga los estilos estaticos del css-->
<link rel="stylesheet" type="text/css" href="{% static 'css/editarEvento.css' %}"/>
<div class="mainConta">
  <h1 class="titulos">Editar Evento</h1>
  <form class="formEdit" method="post">
    {% csrf_token %} {{ form.as_p }}
    <button class="btnPrincipal" type="submit">✅ Guardar cambios</button>
  </form>
</div>
{% endblock %} <!--finaliza el bloque extendido -->
